.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    font-size: 16px;
    img {
      width: 100%;
    }
  }
  .my-message {
    background: var(--ion-color-tertiary);
    color: #fff;
  }
  .other-message {
    background: var(--ion-color-secondary);
    color: #fff;
  }
  ion-icon {
    font-size: 20px; //Preferred size here
  }

.time {
  color: #dfdfdf;
  float: left;
  font-size: small;
}
.time-other {
  color: #dfdfdf;
  float: left;
  font-size: small;
}

.message-input {
    padding: 10px !important;
    width: 65vw;
    margin-left: 6vw;
    min-height: fit-content;
    height: 100%;
    max-height: 16vh;
    background: transparent;
    border: none;
    resize: none;
}

#hidden-button{
  height: 100%;
  width: 100%;
  box-shadow: none;
  fill: clear;
  -webkit-box-shadow: none;
}

.delete-button{
  color: black;
  float: right;
}

