<ion-header>
  <ion-toolbar color="transparent">
    <ion-item lines="none">
      <ion-buttons slot="start" [routerLink]="['/tabnavigation']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <ion-avatar slot="start">
        <img src={{chat?.grouppicture}} />
      </ion-avatar>
      <ion-label >{{ chat?.title }}</ion-label>
      <ion-button slot="end" (click)="openModal()">
        <ion-icon name="cog-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content #content padding>

  <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      <ion-col size="9" size-md="6" *ngIf="message.from !== currentUserId" class="message other-message" (click)="deleteMessage(message.id)">
        <b>{{ message.user }}</b><br>
        <span>{{ message.msg }}
          <img [src]="message.file" *ngIf="message.file">
        </span>

        <div class="time-other" *ngIf="message.createdAt" text-right><br>{{ message.createdAt.toMillis() | date:'short' }}</div>
      </ion-col>

      <ion-col offset="3" offset-md="6" size="9" size-md="6" *ngIf="message.from === currentUserId" class="message my-message">
        <b>{{ message.user }}</b>
        <br>
        <span>
          {{ message.msg }}
          <img [src]="message.file" *ngIf="message.file">
        </span>
        <br>
        <div class="time" *ngIf="message.createdAt" text-right><br>{{ message.createdAt.toMillis() | date:'short' }}</div>
        <div class="delete-button">
          <ion-button fill="clear" (click)="deleteMessage(message.id)">
            <ion-icon name="trash-outline" slot="icon-only" color="secondary"></ion-icon>
          </ion-button>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="sendFile()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row no-padding align-items-center>
      <ion-col size="9">
        <textarea class="message-input" #input rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="newMsg"></textarea>
      </ion-col>
      <ion-col size="3" text-center>
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>