<ion-header>
  <ion-toolbar color="transparent">
    <ion-item style="background-color: transparent;">
      <ion-avatar slot="start">
        <img [src]="profilePicture" />
      </ion-avatar>
      <ion-label>Start New Chat</ion-label>
      <ion-button slot="end" [disabled]="title == '' || users.length == 0 && grouppicture != null" (click)="createGroup()">
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="display: flex;align-items: center; justify-content: center;">
    <ion-label style="padding: 15px;"></ion-label>
  </div>
  <ion-card color="light">
    <div class="img-wrapper">
      <img [src]="grouppicture" />
      <ion-button color="light" (click)="getPicture()">
        <ion-icon slot="icon-only" name="camera-outline" color="medium">
        </ion-icon>
      </ion-button>
    </div>
    <ion-card-content class="ion-text-center">
      <ion-item>
        <ion-input placeholder="Group Name" [(ngModel)]="title"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item-divider>
      <ion-label>
        Members
      </ion-label>
    </ion-item-divider>
  </ion-list>

  <ion-item>
    <ion-input placeholder="Email" [(ngModel)]="aUser"></ion-input>
  </ion-item>
  <ion-button color="secondary" expand="block" (click)="addUser()">Add User</ion-button>

  <ion-item *ngFor="let usr of users">
    <ion-label>
      {{ usr.email}}
      <p>{{ usr.nickname }}</p>
    </ion-label>
  </ion-item>
</ion-content>
