ion-content{
    --ion-background-color:linear-gradient(210deg, #9ADAFF 0%,#6FD1FA 13.5%, #3695FF 60%, #0550F8 100%) !important; 
}

ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-card{
    padding-top: 25%;
    background-color: transparent;
    box-shadow: none !important;
}

.welcome-text{
    text-align: center;
    color: grey;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.2rem;
}

.subtext{
    padding-top: 2%;
    text-align: center;
    font-size: .6rem;
}

.other-login-methods{
    padding-top: 10%;
    text-align: center;
    span{
        font-size: 1em;
        font-weight: normal;
        color: grey;
    }
}

.auth-buttons{
    margin-top: 15px;
    text-align: center;
}

.standard-auth-buttons{
    --background:linear-gradient(210deg, #9ADAFF 0%,#6FD1FA 13.5%, #3695FF 60%, #0550F8 100%) !important; 
}

.sso-auth-buttons{
    text-align: center;
    ion-button{
        width: 30px;
        padding-left: 5px !important;
    }
}

.other-options{
    margin-top: 35px;
    text-align: center;
    span{
        font-size: 13px;
        font-weight: normal;
        columns: grey;
    }
}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

.image-scale{
    width: 45%;
    padding-bottom: 15%;
}

ion-card-content{
    border-radius: 10px;
    background-color: white;
}