<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <div style="display: flex; align-items: center; justify-content: center;">
      <ion-img class="image-scale" src="../assets/images/icon.png"></ion-img>
    </div>
    <ion-card-content>
      <ion-card-title class="welcome-text">
        Welcome to IonChat
      </ion-card-title>
      <ion-card-subtitle class="subtext">
        Chat with end-to-end privacy
      </ion-card-subtitle>
      <form (ngSubmit)="login()" [formGroup]="loginForm">
        <ion-list>
          <ion-item>
            <ion-input type="email" placeholder="Email" name="email" formControlName="email"></ion-input>
          </ion-item>
     
          <ion-item>
            <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
          </ion-item>
     
        </ion-list>
        <div class="auth-buttons">
         <ion-button color="primary" shape="round" size="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button> 
        </div>  
      </form>

      <div class='other-login-methods'>
        <span>
          Login via other providers
        </span>
      </div>
      <div class="auth-buttons">
        <ion-button fill="solid" shape="round" class="standard-auth-button"> Login </ion-button>
        <ion-button fill="outline" shape="round">SignUp</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>