<ion-header>
  <ion-toolbar color="transparent">
    <ion-item >
      <ion-buttons slot="start" (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <ion-label>{{ chat?.title }}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="display: flex;align-items: center; justify-content: center;">
    <ion-label style="padding: 15px;"></ion-label>
  </div>

  <ion-card color="light">
    <div class="img-wrapper">
      <img [src]="grouppicture" />
      <ion-button color="light" (click)="setProfileImage()">
        <ion-icon slot="icon-only" name="camera-outline" color="medium">
        </ion-icon>
      </ion-button>
    </div>
    <ion-card-content class="ion-text-center">
      <h2 class="display-name">{{chat?.title}}</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="people-outline" color="medium">
          </ion-icon>
          <p> {{chat?.users.length}} People</p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>
  
  <ion-list>
    <ion-item (click)="updateNamePrompt()">
      <ion-label>Update Group Name</ion-label>
    </ion-item>
    <ion-item (click)="updateGroupPicture()">
      <ion-label>Update Group Picture</ion-label>
    </ion-item>
    <ion-item (click)="addUserPrompt()">
      <ion-label>Add Users</ion-label>
    </ion-item>
    <ion-item (click)="showDeleteConfirm()">
      <ion-label>Delete Chat</ion-label>
    </ion-item>
    <ion-item (click)="showLeaveConfirm()">
      <ion-label>Leave Leave</ion-label>
    </ion-item>
  </ion-list>



</ion-content>