<ion-header>
  <ion-toolbar color="transparent">
    <ion-item lines="none">
      <ion-avatar slot="start" lines="none">
        <img [src]="profilePicture" />
      </ion-avatar>
      <ion-label lines="none">{{displayName}}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="display: flex;align-items: center; justify-content: center;">
    <ion-label lines="none" style="padding: 15px;"></ion-label>
  </div>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="{{profilePicture}}" />
      <ion-button color="light" (click)="setProfileImage()">
        <ion-icon slot="icon-only" name="camera-outline" color="medium">
        </ion-icon>
      </ion-button>
    </div>
    <ion-card-content class="ion-text-center">
      <h2 class="display-name">{{displayName}}</h2>
      <ion-text color="dark">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="mail-outline" color="medium">
          </ion-icon>
          <p>{{userEmail}}</p>
        </div>
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="call-outline" color="medium">
          </ion-icon>
          <p>{{userPhone}}</p>
        </div>
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="location-outline" color="medium">
          </ion-icon>
          <p>Status: {{userStatus}}</p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>
  
  <ion-list>
    <ion-item (click)="updateDisplayName()">
      <ion-label>Update Display Name</ion-label>
    </ion-item>
    <ion-item (click)="updateStatusPrompt()">
      <ion-label>Update Status</ion-label>
    </ion-item>
    <ion-item (click)="updatePhonePrompt()">
      <ion-label>Update Phone Number</ion-label>
    </ion-item>
    <ion-item (click)="enableBiometricsAlert()">
      <ion-label>Enable/Disable Biometric Vault</ion-label>
    </ion-item>
    <ion-item (click)="enableDNDsAlert()">
      <ion-label>Enable/Disable Do Not Disturb</ion-label>
    </ion-item>
    <ion-item (click)="signOut()">
      <ion-label>Log Out</ion-label>
    </ion-item>
  </ion-list>



</ion-content>