
  .display-name{
    font-weight: 600;
  }

  .image-scale{
    width: 50%;
    max-width: 40em;
    padding-bottom: 2vh;
    border-radius: 10px;
}


.profile-info{
    border-radius: 10px;
    font-size: 0.9em;
    max-width:90vw;
    width: 100vh;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 223, 223);
}

ion-card {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.425);
    overflow: visible;
    position: relative;
    padding-top: 60px;
  
    .img-wrapper {
      position: absolute;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
      img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
  
      ion-button {
        --border-width: 1px;
        --border-color: var(--ion-color-light-shade);
        --border-style: solid;
        --padding-start: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-top: 0;
  
        --border-radius: 50%;
        height: 26px;
        width: 26px;
  
        position: absolute;
        right: -10px;
        bottom: -10px;
  
        ion-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }