ion-content{
    --ion-background-color:linear-gradient(210deg, #9ADAFF 0%,#6FD1FA 13.5%, #3695FF 60%, #0550F8 100%) !important; 
}

ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-card{
    padding-top: 10%;
    background-color: transparent;
    box-shadow: none !important;
}

.welcome-text{
    text-align: center;
    color: grey;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.2rem;
}

.subtext{
    padding-top: 2%;
    text-align: center;
    font-size: .6rem;
}

.other-login-methods{
    padding-top: 10%;
    text-align: center;
    span{
        font-size: 1em;
        font-weight: normal;
        color: grey;
    }
}

.auth-buttons{
    margin-top: 15px;
    text-align: center;
}

.standard-auth-buttons{
    --background:linear-gradient(210deg, #9ADAFF 0%,#6FD1FA 13.5%, #3695FF 60%, #0550F8 100%) !important; 
    --height: 20px;
}

.sso-auth-buttons{
    text-align: center;
    ion-button{
        width: 30px;
        padding-left: 5px !important;
    }
}

.other-options{
    margin-top: 10px;
    text-align: center;
    span{
        font-size: 13px;
        font-weight: normal;
        columns: grey;
    }
}

.signup-text{
    margin-top: 15px;
    text-align: center;
    span{
        font-size: 13px;
        font-weight: normal;
        columns: grey;
    }
}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

.image-scale{
    width: 45%;
    padding-bottom: 15%;
}

ion-card-content{
    border-radius: 10px;
    background-color: white;
    box-shadow: none !important;

}


ion-list{
    background-color: transparent !important; 
}

ion-item{
    --background: #9ADAFF !important;
    border-radius: 20px !important;
    font-size: 0.9em;
    color: #323A3C;
    --border-width: 0 !important; 
    --inner-border-width: 0 !important;
    margin-top: 2%;
    --min-height: 15px;
}

ion-icon{
    font-size: 1.1em;
    color: #323A3C;
}

ion-iput{
    outline: none; 
    --border-width: 0; 
    --inner-border-width: 0; 
}