<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <div style="display: flex; align-items: center; justify-content: center;">
      <ion-img class="image-scale" src="../assets/images/icon.png"></ion-img>
    </div>
    <ion-card-content>
      <ion-card-title class="welcome-text">
        Register Below
      </ion-card-title>
      <ion-card-subtitle class="subtext">
        Chat with end-to-end privacy
      </ion-card-subtitle>
      <form (ngSubmit)="register()" [formGroup]="registerForm">
        <ion-list>
          <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input type="email" placeholder=" Email" name="email" formControlName="email"></ion-input>
          </ion-item>
     
          <ion-item>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input type="password" placeholder=" Password" name="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-input placeholder=" User Name" formControlName="username"></ion-input>
          </ion-item>
     
        </ion-list>
        <div class="auth-buttons">
         <ion-button color="primary" shape="round" size="block" type="submit" [disabled]="!registerForm.valid">Register</ion-button> 
        </div>  
      </form>
      <div class='other-options'>
        <span>
          Login via other providers
        </span>
      </div>
      <div class="auth-buttons">
        <ion-button fill="solid" shape="round" size="block" color="danger" (click)="googleLogin()" class="standard-auth-button">Login with &nbsp; <ion-icon name="logo-google"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>