<ion-header>
  <ion-toolbar color="transparent">
    <ion-item  lines="none">
      <ion-avatar slot="start">
        <img [src]="profilePicture" />
      </ion-avatar>
      <ion-label>IonChat</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item buttom *ngFor="let group of (groups | async)" text-wrap [routerLink]="['/','chat', (group | async)?.id || 0]">
      <ion-avatar slot="start">
        <img src="{{ (group | async)?.grouppicture }}" />
      </ion-avatar>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3>{{ (group | async)?.title }}</h3>
        </ion-text>
        <p>{{ (group | async)?.users.length }} Group Members</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
