ion-content {
    --overflow: hidden;
}

ion-fab {
    margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
    ion-fab-button {
        --box-shadow: none;
    }
}

ion-tab-bar {
    --background: transparent;
    background-image:linear-gradient(210deg, #9ADAFF 0%,#6FD1FA 13.5%, #3695FF 60%, #0550F8 100%) !important; 
}

ion-tab-button {
    --background: transparent !important;
}